.searchBarContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.searchBar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative; /* Add this */
}

.searchInputWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.searchInput {
  flex-grow: 1;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
}

.searchInput:focus {
  outline: none;
}

.searchButton, .closeButton {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease;
}

.searchButton:hover, .closeButton:hover {
  color: #007bff;
}

.searchButton, .filterButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton {
  border-radius: 0 20px 20px 0;
}

.filterButton {
  border-radius: 20px;
  margin-left: 10px;
}

.searchButton:hover, .filterButton:hover {
  background-color: #0056b3;
}

.filterContainer {
  position: relative;
}

.filters {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.categorySelect, .priceInput {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 15px;
  outline: none;
}

.suggestions {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestions li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.suggestionImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.suggestionInfo {
  display: flex;
  flex-direction: column;
}

.suggestionName {
  font-weight: bold;
  margin-bottom: 3px;
}

.suggestionPrice {
  color: #007bff;
  font-size: 14px;
}

.suggestionCategory {
  color: #6c757d;
  font-size: 12px;
}