.homePage {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.headerSpacer {
  height: 60px; /* Đảm bảo chiều cao này khớp với chiều cao của header */
  width: 100%;
}

.heroSection {
  flex: 1;
  display: flex;
  overflow: hidden; /* Ngăn chặn scroll nếu ảnh quá lớn */
}

.heroImage {
  flex: 1;
  object-fit: cover;
  width: 50%; /* Mỗi ảnh chiếm 50% chiều rộng */
  height: 100%; /* Đảm bảo ảnh lấp đầy chiều cao của heroSection */
}

.categoryLinks {
  position: absolute;
  bottom: 20px; /* Đẩy lên trên một chút */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
}

.categoryLink {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  margin: 0 1rem;
  text-transform: uppercase;
}

.categoryLink:hover {
  text-decoration: underline;
}
.blockContent {
  background-color: #afacac;
  padding: 0.35rem 1rem;
  text-align: center;
  font-family:"futbold", "futura", sans-serif;
  font-size:1rem;
  font-weight: bold;
  min-height: 2.6 em;

}