.homePage {
  display: flex;
  flex-direction: column;
}

.headerSpacer {
  height: 60px; /* Đảm bảo chiều cao này khớp với chiều cao của header */
  width: 100%;
}

.heroSection {
  display: flex;
  justify-content: space-between;
}

.heroImageContainer {
  position: relative;
  width: 49.5%;
}

.heroImage {
  width: 100%;
  height: auto;
}

.heroText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.additionalImages {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.imageWithText {
  position: relative;
  width: 49.5%;
}

.additionalImage {
  width: 100%;
  height: auto;
}

.imageText {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.fourImages {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fourImages .imageWithText {
  width: 24%;
}

.smallImage {
  width: 100%;
  height: auto;
}

.fourImages .imageText {
  font-size: 16px;
}

.categoryLinks {
  position: absolute;
  bottom: 20px; /* Đẩy lên trên một chút */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
}

.categoryLink {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  margin: 0 1rem;
  text-transform: uppercase;
}

.categoryLink:hover {
  text-decoration: underline;
}
.blockContent {
  background-color: #afacac;
  padding: 0.35rem 1rem;
  text-align: center;
  font-family:"futbold", "futura", sans-serif;
  font-size:1rem;
  font-weight: bold;
  min-height: 2.6 em;

}